*{

    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.circle {
    position: absolute;
    background-color: transparent;
    width: calc(var(--i) * 25px);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid rgb(0, 200, 255);
    transform: rotateX(70deg);
    animation: rotate 3s ease-in-out calc(var(--i) * 0.09s) infinite;
    box-shadow: 0px 0px 15px rgb(174, 239, 25), inset 0px 0px 15px rgb(39, 16, 130);

}

@keyframes rotate{
    0%, 100% {
        transform: rotateX(100deg)  translateY(10px);
        filter: hue-rotate(0deg) ;
    }

    50%{
        transform: rotateX(70deg) translateY(-200px);
        filter: hue-rotate(100deg);
    }
}